<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello World - Input Form</title>
</head>
<body>
    <h3>Form1</h3>
    <form th:action="@{/processForm}" method="GET">
        <input type="text" name="studentName" placeholder="What's your name"/>

        <input type="submit"/>
    </form>

    <br><br>
    <h3>Form2</h3>
    <form th:action="@{/processFormVersionTwo}" method="GET">
        <input type="text" name="studentName" placeholder="What's your name"/>

        <input type="submit"/>
    </form>

    <br><br>
    <h3>processFormVersionThree</h3>
    <form th:action="@{/processFormVersionThree}" method="POST">
        <input type="text" name="studentName" placeholder="What's your name"/>

        <input type="submit"/>
    </form>



</body>
</html>