<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>
<body>
<h3>Student Registration Form</h3>
<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
    <!--  *{firstName} is same as student.firstName   -->
    First name: <input type="text" name="firstName" th:field="${student.firstName}" placeholder="First Namee"/>
    <br><br>
    Last name: <input type="text" name="lastName" th:field="*{lastName}" placeholder="Last Name"/>
    <br><br>

    Country:
    <select th:field="*{country}">
        <option th:each="tempCountry: ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"></option>

<!--        <option th:value="France">France</option>-->
<!--        <option th:value="Germany">Germany</option>-->
<!--        <option th:value="India">India</option>-->
    </select>

    <br><br>

    Favourite Programming Language:
    <input type="radio" th:each="lang: ${languages}" th:field="*{favouriteLanguage}" th:value="${lang}" th:text="${lang}"/>
<!--    <input type="radio" th:field="*{favouriteLanguage}" th:value="Go">Go</input>-->
<!--    <input type="radio" th:field="*{favouriteLanguage}" th:value="Java">Java</input>-->
<!--    <input type="radio" th:field="*{favouriteLanguage}" th:value="Python">Python</input>-->

    <br><br>

    Favourite Operating Systems:
    <input type="checkbox" th:field="*{favouriteOS}" th:each="os: ${operatingSystems}" th:value="${os}" th:text="${os}" />
<!--    <input type="checkbox" th:field="*{favouriteOS}" th:value="Linux"> Linux </input>-->
<!--    <input type="checkbox" th:field="*{favouriteOS}" th:value="macOS"> macOS </input>-->
<!--    <input type="checkbox" th:field="*{favouriteOS}" th:value="'Microsoft Windows'"> Microsoft Windows </input>-->


    <br><br>
    <input type="submit"/>
</form>


</body>
</html>